<% provide(:title, 'Sign up') %>
<div class="right">
        <div class="right_top">
            <p>自分の本棚</p>
        </div>
        <h1>Sign up</h1>
        <p>This will be a signup page for new users.</p>
    </div>
</div>
