<% provide(:title, @user.name) %>
<div class="right">
        <div class="right_top">
            <p><%= @user.name %>の本棚</p>
        </div>
        <div class="right_top2">
            <div class="photo"></div>
            <div class="name">
                <p>名前：<%= @user.name %></p>
                <p>職業</p>
                <p>フォロー中</p>
                <p>フォロワー</p>
                <p>フォロー</p>
            </div>
        </div>
    </div>
</div>
