<header class="header">
    <div class="header_inner inner">
        <h1 class="header_logo">Bookshelf　<span>～本棚共有アプリ～</span></h1>
        <nav class="header_nav">
            <ul class="header_list">
                <li class="header_item"><%= link_to "新規登録", signup_path, class: "header_link" %></li>
                <li class="header_item"><%= link_to "ログイン", '#', class: "header_link" %></li>
            </ul>
        </nav>
    </div>
</header>