<div class="main">
    <div class="left">
        
        <% if logged_in? %>
          <p><%= link_to "マイページ", current_user, class: "mypage" %></p>
        <% else %>
          <p><%= link_to "マイページ", root_path, class: "mypage" %></p>
        <% end %>
        
        <p><%= link_to "ユーザー", users_path, class: "mypage" %></p>
        
        
    </div>